*{
  margin: 0;
  padding: 0;
  
}
body{
  height: 100vh;
  font-family: 'poppins';
  background: conic-gradient(from 45deg, rgb(250, 218, 97) 0deg, rgb(250, 218, 97) 120deg, rgb(255, 145, 136) 120deg, rgb(255, 145, 136) 240deg, rgb(255, 90, 205) 240deg, rgb(255, 90, 205) 360deg);
  cursor: none;
}

